
/* Add or change the styles for all tasks in this css file */

html {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0px;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.col {
  margin-right: 30px;
  flex:50%;
}

.hidden {
  display: none;
}

.geo-path {
  stroke: black;
}

/*
#map {
width: 1000px;
height: 1000px;
}*/

#map {
  border: 1px solid grey;
  /*background-image: url(../src/galaxy-background.jpg);*/
  background-color: #8cb1de;
  width: 100%;
  margin: 0 auto;
  margin-top: 3em;
}

.world-sphere {
  fill: #8cb1de;
}

#play-button {
  margin-left: 20px;
  width: 70px;
}

.place-text {
  font-size: 0.9rem;
  font-weight: 600;
  text-shadow: 1px 1px 4px #ffffff;
  background: #fff;
}

p {
  font-size: 1.4rem;
}

.tick {
  color: white;
}

#vis-nodes {
  /*  background-color: aqua;*/
  /*    background-color: black;*/
  background-color: gray;
  /*  background-color: darkgray;*/
}

#vis-nodes-legend {
  font-size: 1.1rem;
  font-weight: 300;
  background-color:black; 
  /*  outline: solid 10px blue;*/
  color: white;
  /*  display: block;*/
  /*  text-align: right;*/
  /*  line-height: 50px;*/
  padding: 20px 0 0 20px;
  height: 100px;
  /*  padding: 20px;*/
  /*  width: 200px;*/
}

#view-toggle {
  width: 150px;
  background-color: silver;
  border: 1px solid black;
  font-size: 0.9rem;
  font-weight: 500;
}

#kill-count-select {
  background-color: silver;
  border: 1px solid black;
  font-size: 1.2rem;
  font-weight: 600;
}

#legend-elements, #elements-info, #modality-info {
  /*  padding: 20px;*/
  /*  padding: 0 0 0 20px;*/
  padding: 0 0 0 20px;
}

#signNameText {
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: underline;
}

.description {
  font-size: 0.9rem;
}

#descriptionText {
  font-size: 0.9rem;
}

#vis-nodes-info {
  /*  margin: 20px;*/
  padding: 20px;
  /*  background-color: gray;*/
  background-color: #565656;
  /*  background-color: darkgray;*/
  font-size: 0.9rem;
  font-weight: 300;
  /*  color: black;*/
  color: white;
  width: 185px;
  height: 510px;
}

.legend-node {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.legend-node > html {
  margin-left: 50px;
}

.monthArc {
  fill: white;
  stroke: #AAAAAA;
}

.monthText {
  fill: #6B6B6B;
  font-size: 13px;
  font-family: 'Courgette', sans-serif;
}

.tooltip {
  position: absolute;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  background-color: black;
}

.node-icon {
  pointer-events: none;
}

.node {
  stroke-width: 5;
}

.regular-node {
  stroke: black;
}

.highlighted-node {
  stroke: white;
}

.node-month-label {
  font-size: 0.8rem;
  font-weight: 300;
}

#modality-legend-svg {
  padding-left: 15px;
  width: 50px;
}

.stroke {
  stroke: white;
  stroke-width: 5;
}

.modality-cardinal {
  stroke-dasharray: 20,10,5,5,5,10;
}

.modality-fixed {
  /*  stroke-dasharray: 5,5;*/
}

.modality-mutable {
  stroke-dasharray: 5,5;
}

.link {
  stroke: white;
  stroke-opacity: 0.3;
  stroke-width: 4px;
}

title {
  color: aqua;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0px;
  fill: #6B6B6B;
  font-size: 13px;
}

.fire {
  fill: #EF7C7A;
  color: #EF7C7A;
}

.fire-bg {
  background-color: #EF7C7A;
}

.earth {
  fill: #8AAA46;
  color: #8AAA46;
}

.earth-bg {
  background-color: #8AAA46;
}

.air {
  fill: #F7E967;
  color: #F7E967;
}

.air-bg {
  background-color: #F7E967;
}

.water {
  fill: #70B7BA;
  color: #70B7BA;
}

.water-bg {
  background-color: #70B7BA;
}
