
/* Add or change the styles for all tasks in this css file */

html {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0px;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.col {
  margin-right: 30px;
  flex:50%;
}

.hidden {
  display: none;
}

.geo-path {
  stroke: black;
}

.geo-path.active {
  opacity: 1;
}

#control {
  margin-right: 205px;
  justify-content: space-between;
}

/*
#map {
width: 1000px;
height: 1000px;
}*/

#map {
  border: 1px solid grey;
  /*background-image: url(../src/galaxy-background.jpg);*/
  background-color: #D3D3D3;
  width: 100%;
  margin: 0 auto;
  margin-top: 1em;
}

.world-sphere {
  fill: #D3D3D3;
}

#play-button {
  margin-left: 20px;
  width: 70px;
}

.place-text {
  font-size: 0.9rem;
  font-weight: 600;
  text-shadow: 1px 1px 4px #ffffff;
  background: #fff;
}

p {
  font-size: 1.4rem;
}

.tick {
  color: white;
}

.thick-text {
  font-weight: 600;
}

#vis-nodes {
  background-color: gray;
}

#vis-nodes-legend {
  font-size: 1.1rem;
  font-weight: 300;
  background-color:black; 
  color: white;
  padding: 20px 0 0 20px;
  height: 100px;
}

#view-toggle {
  width: 160px;
  background-color: silver;
  border: 1px solid black;
  font-size: 0.9rem;
  font-weight: 500;
}

#kill-count-select {
  background-color: black;
  color: white;
  border: 1px solid white;
  font-size: 1.2rem;
  font-weight: 600;
}

#sort-bars {
  background-color: silver;
  border: 1px solid black;
  font-size: 0.9rem;
}

#sort-norm-bars {
  background-color: silver;
  border: 1px solid black;
  font-size: 0.9rem;
}

#legend-elements, #elements-info, #modality-info {
  padding: 0 0 0 20px;
}

#signNameText {
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: underline;
}

.title {
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: underline;
  margin-top: 1em;
}

.ul-title {
  font-size: 0.8rem;
  text-decoration: underline;
  padding: 15px;
}


.axis-label {
  fill: black;
  font-size: 1.3rem;
}

.description {
  font-size: 0.9rem;
}

#descriptionText {
  font-size: 0.9rem;
}

#vis-nodes-info {
  border-top: 1px solid black;
  margin-top: -45px;
  padding: 42px 20px 42px 20px;
  background-color: #565656;
  font-size: 0.9rem;
  font-weight: 300;
  color: white;
  width: 185px;
  height: 510px;
}

.legend-node {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.legend-node > html {
  margin-left: 50px;
}

.monthArc {
  fill: white;
  stroke: #AAAAAA;
}

.monthText {
  fill: #6B6B6B;
  font-size: 13px;
  font-family: 'Courgette', sans-serif;
}

.tooltip {
  position: absolute;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: 600;
  font-size: 0.8em;
  color: white;
  background-color: black;
}

.killer-tooltip {
  font-weight: 400;
  width: 300px;
}

.killer-notes p {
  font-size: 14px;
}

.killer-notes span {
  margin-bottom: 10px;
}

.killer-notes br {
  margin-bottom: 2em;
}

.node-icon {
  pointer-events: none;
}

.node {
  stroke-width: 5;
}

.regular-node {
  stroke: black;
}

.highlighted-node {
  stroke: white;
}

.node-month-label {
  font-size: 0.8rem;
  font-weight: 300;
}

#modality-legend-svg {
  padding-left: 15px;
  width: 50px;
}

.stroke {
  stroke: white;
  stroke-width: 5;
}

.modality-cardinal {
  stroke-dasharray: 20,10,5,5,5,10;
}

.modality-fixed {
  /*  stroke-dasharray: 5,5;*/
}

.modality-mutable {
  stroke-dasharray: 5,5;
}

.link {
  stroke: white;
  stroke-opacity: 0.3;
  stroke-width: 4px;
}

title {
  color: aqua;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0px;
  fill: #6B6B6B;
  font-size: 13px;
}

.fire {
  fill: #EF7C7A;
  color: #EF7C7A;
}

.fire-bg {
  background-color: #EF7C7A;
}

.earth {
  fill: #8AAA46;
  color: #8AAA46;
}

.earth-bg {
  background-color: #8AAA46;
}

.air {
  fill: #F7E967;
  color: #F7E967;
}

.air-bg {
  background-color: #F7E967;
}

.water {
  fill: #70B7BA;
  color: #70B7BA;
}

.water-bg {
  background-color: #70B7BA;
}

.normalized-bar {
  stroke: black;
  stroke-width: 3;
}